div{
    border-width: 4px 8px 5px 2px ;
    border-style: dashed dotted double solid;
    border-color: red orange green blue;
    border-radius: 150px;
}

h1{
    border-radius: 150px;
    background-image: linear-gradient(pink , purple);
    text-align: center;
}